.user-container{
    background-color: #d7720d;
    padding: 25px;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem;
    
    /* border-radius: 10px; */
    
    
}
     


#user-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;

}